body {
    background-color: #e5e5e5;
}

.c-nav {
  background-color: white;
  position: fixed;
}

.container-md {
    background-color: white;
}
.header {
  background-image: url(./images/desktop/desktopHeader.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 70px;
  padding: 288px 260px 255px 260px;
  border-bottom-left-radius: 24px;
  background-color: white;
}

section .portfolio {
  justify-content: center;
}

.work-cards {
  justify-content: center;
}

.lang-list {
 background-color: #ebebff;
}
